<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shorten URL</title>
</head>
<body>
    <form action="{% url 'createurl:create' %}" method="post">
    {% csrf_token %}

        <label>Target</label>
        <br>
        <input type="text" required name='target'  >
        <button  type="submit" value="Submit"  > Submit </button>

    </form>
    {% if url %}
     <h1>Target</h1> <p><strong>{{ url }}</strong></p>

     {% endif %}

</body>
</html>